@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar {
    height: 100px;
    background-color: #395a4f;
}

nav .nav-link {
    position: relative;
    color: white;
}

nav .nav-link::after {
    content: "";
    position: absolute;
    background-color: #ffc107;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
}

nav .nav-link:hover::after {
    width: 100%;
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin: 16px;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.search {
    display: flex;
    background-color: white;
    margin: 0;
}

.search .btn {
    background-color: #395a4f;
    color: white;
}

.search .btn:hover {
    background-color: #304e44;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.link {
    text-decoration: none;
    color: #212529;
}

.link:hover {
    text-decoration: none;
    color: #ffc107;
}

form {
    min-width: 400px;
    margin: 10px 20px 30px 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.lerCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.lerCadastro h1 {
    font-size: 20px;
    margin: 8px;
}

.lerCadastro p {
    padding: 8px;
    margin: 0;
}

footer {
    width: 100%;
    background-color: #395a4f;
}

footer p, footer a {
    color: white;
}

footer a:hover {
    color: #212529;
}